<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
</head>
<body>

    <h1>Cadastro</h1>

    <form method="POST">

        <label>Nome</label>
        <br>
        <input name="nome">
        <br><br>

        <label>Estado</label>
        <br>
        <input name="estado">
        <br><br>

        <label>Cidade</label>
        <br>
        <input name="cidade">
        <br><br>

        <label>Email</label>
        <br>
        <input name="email">
        <br><br>

        <label>Senha</label>
        <br>
        <input
            name="senha"
            type="password"
        >
        <br><br>

        <button type="submit">
            Cadastrar
        </button>

    </form>

</body>
</html>