<h1>Bem-vindo, {{ nome }}</h1>

<form method="GET" action="/home">

    <input
        type="text"
        name="busca"
        placeholder="Buscar evento..."
        value="{{ busca }}"
    >

    <button type="submit">
        Buscar
    </button>

</form>

<hr>

<a href="/editar-perfil">
    <button>
        Editar Perfil
    </button>
</a>

<a href="/criar-evento">
    <button>Criar Evento</button>
</a>

<hr>

{% if busca %}

    <h2>
        Resultados para "{{ busca }}"
    </h2>

    {% if resultados %}

        <ul>

        {% for evento in resultados %}

            <li>

                <strong>
                    {{ evento["nome"] }}
                </strong>

                -

                {{ evento["cidade"] }}

                /

                {{ evento["estado"] }}

                <a href="/evento/{{ evento['id'] }}">
                    Ver Evento
                </a>

            </li>

        {% endfor %}

        </ul>

    {% else %}

        <p>
            Nenhum evento encontrado.
        </p>

    {% endif %}

    <hr>

{% endif %}

<h2>
    Eventos Próximos
</h2>

{% if eventos_proximos %}

    <ul>

    {% for evento in eventos_proximos %}

        <li>

            <strong>
                {{ evento["nome"] }}
            </strong>

            -

            {{ evento["cidade"] }}

            <a href="/evento/{{ evento['id'] }}">
                Ver Evento
            </a>

        </li>

    {% endfor %}

    </ul>

{% else %}

    <p>
        Nenhum evento próximo.
    </p>

{% endif %}

<hr>

<h2>
    Meus Eventos
</h2>

{% if meus_eventos %}

    <ul>

    {% for evento in meus_eventos %}

        <li>

            <strong>
                {{ evento["nome"] }}
            </strong>

            -

            {{ evento["cidade"] }}

            <a href="/evento/{{ evento['id'] }}">
                Ver Evento
            </a>

        </li>

    {% endfor %}

    </ul>

{% else %}

    <p>
        Você ainda não participa de nenhum evento.
    </p>

{% endif %}

<h2>
    Eventos Criados
</h2>

{% if eventos_criados %}

    {% for evento in eventos_criados %}

        <p>

            {{ evento["nome"] }}

            <a href="/evento/{{ evento['id'] }}">
                Ver Evento
            </a>

        </p>

    {% endfor %}

{% else %}
        
    <p>
        Você ainda não possui eventos criados.
    </p>

{% endif %}

<a href="/logout"><button>Sair</button></a>
